body {
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(157, 255, 222);
  text-align: justify;
  text-indent: 40px;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  color: #031d37;
  text-align: center;
  margin-top: 20px; 
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

header {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}


@media (min-width: 601px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
} 


button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1ecb0e;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 
button:hover {
  background-color: #d90909;
} 
button:active {
  background-color: #00251a;
} 